body{
    background: linear-gradient(90deg,#FF9F4A 0%,#FF3C83 100%);
    color:antiquewhite;
}

.container{
    height: 100vh;
    width: 100vh;

}
.wrapper{
    margin: 0 auto;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid;

}
.left,
.right{
    width: 100px;
    height: 100px;
    background-color: azure;
    animation: pump 1.5s linear infinite;
}

@keyframes pump {
    0%,
    100%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
}